POSTGRES_DB={{ postgres_db }}
POSTGRES_PORT={{ postgres_port }}
DB_URL={{ db_url }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}

SERVER_PORT={{ server_port }}
SPRING_PROFILES_ACTIVE={{ spring_profiles_active }}

APP_EMAIL_ENABLED={{ app_email_enabled }}
APP_EMAIL_DESTINATARIO={{ app_email_destinatario }}
APP_EMAIL_REMETENTE={{ app_email_remetente }}
APP_EMAIL_SMTP_HOST={{ app_email_smtp_host }}
APP_EMAIL_SMTP_PORT={{ app_email_smtp_port }}
APP_EMAIL_SMTP_USERNAME={{ app_email_smtp_username }}
APP_EMAIL_SMTP_PASSWORD={{ app_email_smtp_password }}
APP_EMAIL_SMTP_AUTH={{ app_email_smtp_auth }}
APP_EMAIL_SMTP_STARTTLS={{ app_email_smtp_starttls }}
APP_EMAIL_SMTP_DEBUG={{ app_email_smtp_debug }}
